@model List<clubs>
@{
    ViewBag.Title = "Enrollments";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<title>Registered Clubs  | JZ Sports Zone</title>
<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center ">
                <div class="col-md-8">
                    <div class="page-title-box">
                        <h4 class="page-title">All Registered Clubs </h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">Admin Activities</a>
                            </li>
                            <li class="breadcrumb-item active">Clubs</li>
                        </ol>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="float-right d-none d-md-block app-datepicker">
                        <input type="text" class="form-control" data-date-format="MM dd, yyyy" readonly="readonly" id="datepicker">
                        <i class="mdi mdi-chevron-down mdi-drop"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page-title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="mt-0 header-title">All Clubs</h4>
                        <p class="sub-title">
                            All registered clubs will display here
                        </p>
                        <div id="alert-msg" class="alert alert-info alert-dismissible fade show" role="alert" style="display:none">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <p id="errmsg"></p>
                        </div>
                        <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Thumb</th>
                                    <th>Name</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Address</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (Model == null || Model.Count == 0)
                                {
                                    <tr>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    </tr>
                                }
                                else
                                {
                                    for (int i = 0; i < Model.Count; i++)
                                    {
                                        <tr>
                                            <td>@Model[i].clubid</td>
                                            <td><img src="~/uploads/media/@Model[i].logo" style="height:70px; width:50px"/></td>
                                            <td>@Model[i].clubname</td>
                                            <td>@Model[i].city</td>
                                            <td>@Model[i].C_state</td>
                                            <td>@Model[i].C_address</td>               
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
    </div>
    <!-- container-fluid -->

</div>




