@model List<players>
@{
    ViewBag.Title = "Players";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title> Our Top Players | JZ Sport Zone</title>
<div class="page-heading-breadcrumbs">
    <div class="container">
        <h2>Our Players | Team</h2>
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li>Players</li>
        </ul>
    </div>
</div>
<!-- Page Heading & Breadcrumbs  -->
<!-- Page Heading banner -->
<div style="height:400px; background-image:url(https://img.fifa.com/image/upload/t_l1/yclgx78qq6zarwrimya7.jpg); background-position:center; background-size:contain" class="overlay-dark theme-padding parallax-window">
</div>
<main class="main-content">
    <div class="team-detail-holder theme-padding white-bg" style="padding:20px 0px">
        <div class="container">
            <div class="row" style="border: red 2px solid; padding:10px">
                <div style="width:75%; display:inline-block">
                    <input id="nametxt" type="text" class="form-control" style="height:38px" placeholder="player name or whatever" aria-label="Recipient's username" aria-describedby="basic-addon2">
                </div>
                <div style="width:20%; display:inline-block">
                    <button onclick="search();" style="width:100%; height:38px" class="btn btn-danger" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>
            <!-- Team Detail -->
            <div class="team-detail-holder white-bg">
                <div class="container">
                        <div class="top-palyer">
                            <div class="row" style="margin-bottom:10px">
                                @foreach (var plr in Model)
                                {
                                <!-- Team Column -->
                                <div class="col-lg-3 col-md-4 col-sm-12 r-full-width">
                                    <div class="team-column">
                                        <img src="~/uploads/media/@plr.photo" alt="@plr.playername" style="height:416px; width:269px">
                                        <span class="player-number">P-@plr.playerid</span>
                                        <div class="team-detail">
                                            <h5><a href="/players/@plr.users.username">@plr.playername</a></h5>
                                            <span class="desination">@plr.games_positions.position</span>
                                            <div class="detail-inner">
                                                <ul>
                                                    <li>Age</li>
                                                    <li>Height</li>
                                                    <li>Player ID</li>
                                                    <li>Position</li>
                                                    <li>Follow</li>
                                                </ul>
                                                <ul>
                                                    <li>@plr.age</li>
                                                    <li>@plr.height</li>
                                                    <li>JZ-P-@plr.playerid</li>
                                                    <li>@plr.games_positions.position</li>
                                                    <li>
                                                        <ul class="social-icons">
                                                            <li><a class="facebook" href="https://facebook.com"><i class="fa fa-facebook"></i></a></li>
                                                            <li><a class="twitter" href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                                                            <li><a class="youtube" href="https://youtube.com"><i class="fa fa-youtube-play"></i></a></li>
                                                            <li><a class="pinterest" href="https://pinterest.com"><i class="fa fa-pinterest-p"></i></a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Team Column -->
                                }
                            </div>
                        </div>
                        <!-- Detail -->

                </div>
            </div>
            <!-- Team Detail -->

</main>
@section scripts
    {
    <script>
        function search()
        {
            var name = $("#nametxt").val();
            window.location.href = "/players?name=" + name;
        }
        const urlParams = new URLSearchParams(window.location.search);
        const name = urlParams.get('name');
        $("#nametxt").val(name);
    </script>
    }

